aiofiles
aiohttp
dnspython==2.3.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
ntgcalls==1.0.7
pillow==9.5.0 
psutil
py-tgcalls==1.1.6
pykeyboard
pyrofork
python-dotenv
PyYAML
requests
speedtest-cli
spotipy
tgcrypto
youtube-search
youtube-search-python
yt-dlp
numpy
