aiofiles
aiohttp==3.9.4
dnspython==2.1.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pymongo
git+https://github.com/KurimuzonAkuma/pyrogram@1fea868427a9addd7ad27c9f1f15c71f0b7f32c8
python-dotenv
PyYAML
requests
speedtest-cli
spotipy
tgcrypto
yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
numpy
