aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3==5.1.4
lyricsgenius
motor
ntgcalls==1.2.3
pillow
psutil
py-tgcalls==2.0.2
pykeyboard
pyrotgfork>=2.1.33.12
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
PyTgCrypto
unidecode
yt-dlp
youtube-search
youtube-search-python