API_ID= # get this value from my.telegram.org
API_HASH= # get this value from my.telegram.org
BOT_TOKEN= # get this value from @Botfather
MONGO_DB_URI= # get this value from mongodb.com
LOG_GROUP_ID=-1001234567890 # get this value from in your log group 
MUSIC_BOT_NAME= # your music bot name 
STRING_SESSION= # pyrogram string session
COOKIES= # Batbin link